div.row
  div.col-md-6
    div.panel.panel-default
      div.panel-heading Edit files
      div.panel-body asd2
  div.col-md-6
    div.panel.panel-default
      div.panel-heading Add new files
      div.panel-body
        div.panel.panel-default
          div.panel-body
            p You can add files to the file system and then re-scan all folders.
            div.btn-group.btn-group-justified
              a.btn.btn-default Scan
              a.btn.btn-default Extensive scan