doctype html
html
  head
    title=title
    link(href='/css/style.css', rel='stylesheet')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/react/react-with-addons.js')
    script(src='/javascripts/react/JSXTransformer.js')
    script(src='/javascripts/flux/flux.js')
    script(src='/javascripts/bootstrap.js')
        
    link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css')
    link(rel='stylesheet', href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.5.2/mapbox-gl.css')
    script(src='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js')
    script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.5.2/mapbox-gl.js')


  body(class=(isMap ? 'body-map' : ''))
    nav.navbar.navbar-default.navbar-fixed-top
      div.container
        div.navbar-header
          a.navbar-brand(href='/') Photomap
        div.navbar-collapse
          ul.navbar-nav.nav
            li
              a(href='/') Link
          ul.navbar-nav.nav.navbar-right
            if(user)
              li.dropdown
                a.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
                  | #{user.username} 
                  span.caret
                ul.dropdown-menu(role='menu')
                  li
                    a(href='') Settings
                  li.divider
                  li
                    a(href='/admin/logout') Log out
              li
            else
              li
                a(href='/admin/login') Log in
    block content