doctype html
html
  head
    title=title
    link(href='/css/style.css', rel='stylesheet')

    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.js')


  body(class=(isMap ? 'body-map' : ''))
    nav.navbar.navbar-default.navbar-fixed-top
      div.container
        div.navbar-header
          a.navbar-brand(href='/') Photomap
        div.navbar-collapse
          ul.navbar-nav.nav#reactTopBar
            li
              a#popoverExampleTwo(data-placement='bottom') Date
              div#popoverExampleTwoHiddenContent(style='display:none')
                div
                  b asd
          ul.navbar-nav.nav.navbar-right
            if(user)
              li.dropdown
                a.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
                  | #{user.username} 
                  span.caret
                ul.dropdown-menu(role='menu')
                  li
                    a(href='') Settings
                  li.divider
                  li
                    a(href='/admin/logout') Log out
              li
            else
              li
                a(href='/admin/login') Log in
    block content