doctype html
html
    head
        title=title
        link(href='/css/style.css', rel='stylesheet')
        meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

    body(class=(isMap ? 'body-map' : ''))
        nav.navbar.navbar-default.navbar-fixed-top
            a.btn.btn-navbar.btn-navbar-toggle(data-toggle='collapse', data-target='#reactTopBar')
                span.glyphicon.glyphicon-menu-hamburger
            div.container
                div.navbar-header#reactTopBar.collapse
                    a.navbar-brand(href='/') Photomap
        block content