div.modal.fade#myModal
  div.modal-dialog.large_modal
    div.modal-content
      div.modal-header
        button.close(type="button", data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;
        h4.modal-title#myModalLabel Modal title
      div.modal-body
        div#gallery-view

script(src='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js')
script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.5.2/mapbox-gl.js')
script(src='/javascripts/leaflet-mapbox-gl.js')
script(src='/javascripts/script.js')
script(src='/javascripts/interface.js')
script(src='/javascripts/lightbox.min.js')
script(src='/javascripts/ekko-lightbox.js')
    
link(rel='stylesheet', href='/css/lightbox.css')
link(rel='stylesheet', href='/css/ekko-lightbox.css')
link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css')
link(rel='stylesheet', href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.5.2/mapbox-gl.css')