script(src='/javascripts/interface.js')
script(src='/javascripts/lightbox.min.js')
script(src='/javascripts/ekko-lightbox.js')
    
link(rel='stylesheet', href='/css/lightbox.css')
link(rel='stylesheet', href='/css/ekko-lightbox.css')
link(rel='stylesheet', href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css')