@import "variables";
@import "bootstrap";
@import "font-awesome";

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#container-map {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
}

#map, #app {
    width: auto;
    height: 100%;
}

body {
    padding-top: 70px;
    background-image: url(/images/background.jpg);
}

.body-map {
    padding-top: 50px;
}

.login-form {
    margin-left: auto;
    margin-right: auto;
    max-width: 330px;
}

.image_count {
    background: rgba(102, 153, 187, 0.7);
    border: 3px solid rgba(255, 255, 255, 0.1);
    color: #fff;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    transition: all .1s ease-in-out;
}

.image_count:hover {
    background: rgba(112, 163, 197, 0.9);
}

.image_count_child {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: block;
}

.large_modal {
    width: 70%;
    height: 90%;
}

.thumbnail {
    display: inline-block;
    margin: 5px;
}

.modal {
    height: 100%;
}

.modal-content {
    height: 100%;
}

.modal-body {
    height: 90%;
    width: 100%;
    overflow-y: auto;
}