@import "_variables";

$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
//@import "bootstrap-sprockets";
@import "bootstrap";

.daterangepicker {
  overflow: scroll;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#container-map {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
}

#map, #app {
  width: auto;
  height: 100%;
}

body {
  padding-top: 70px;
}

.btn-navbar-toggle {
  color: $navbar-default-link-color;
  padding: 10px 18px 6px 18px; // default is 10,18,10,18, but it doesn't center
  &:focus {
    color: $navbar-default-link-hover-color
  }
  @media(min-width: 768px)
  {
    display: none;
  }
}

#collapsable {
  @media(min-width: 768px)
  {
    display: block;
    visibility: visible;
  }
}

.navbar-form {
  // otherwise, search field is shifted
  @media(max-width: 768px)
  {
    margin: 0 !important;
  }
}

.body-map {
  padding-top: 50px;
}

.login-form {
  margin-left: auto;
  margin-right: auto;
  max-width: 330px;
}

.image_count {
  background: rgba($brand-primary, 0.9);
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  transition: all .1s ease-in-out;
}

.image_count:hover {
  background: rgba(112, 163, 197, 0.9);
}

.image_count_child {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
}

.large_modal {
  margin: 15px !important;
  margin-top: 50px !important;
  width: auto;
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.thumbnail {
  display: inline-block;
  margin: 5px;
}

.modal, .modal-intermediate, .modal-content {
  height: 100%;
}

.modal-control {
  background: rgba(20, 20, 20, 0.85) !important;
  color: #eee;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  position: fixed;
  line-height: 50px;
}

.modal-control-btn {
  cursor: hand;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  &:hover, &:focus {
    color: #ffffff;
    background-color: #090909;
  }
}

.modal-control-btn-left {
  float: left;
}

.modal-control-btn-right {
  float: right;
}

.modal-control-btn-center {
  margin-right: auto;
  margin-left: auto;
  max-width: 20em;
  text-align: center;
}

.modal-body {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  padding: 0;
}

.galleryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px;
}

#galleryImageContainer {
  height: 100%;
  text-align: center;
}

#galleryImage {
  max-height: 100%;
  max-width: 100%;
  height: auto;
}

.imageNavButton {
  padding: 0 20px;
  display: inline-block;
  &:hover, &:focus {
    color: #ffffff;
    background-color: #090909;
  }
}

.imageNavButtonLeft {
  float: left;
}

.imageNavButtonRight {
  float: right;
}

.hiddenOnMobile {
  @media(max-width: 768px)
  {
    display: none !important;
  }
}

.modal-content-dark {
  background-color: rgba($gray-base, 0.8);
}

.modal-content-bright {
  background-color: rgba($body-bg, 0.8);
}

.thumbnail {
  padding: 2px;
  border-radius: 2px;

  @media (max-width: 768px) {
    width: 42%;
  }
}

.nav > li {
  &:hover, &:focus {
    text-decoration: none;
    background-color: #e6e6e6;
  }

  @media (max-width: 768px) {
    padding: 0.25em 1em;
  }
}

#logo {
  float: left;
  line-height: 51px;
  color: #fff;
  font-size: 1.5em;

  @media (max-width: 768px) {
    display: none;
  }
}

.searchHolder {
  padding: 3px;
  max-width: 100%;
  @media (min-width: 768px) {
    float:left;
    width: 300px;
  }
}

.searchWidget {
  position: relative;
  margin-left: 43px;
}

.searchWidgetLc {
  width: 300px;
  float: right;
  top: 10px;
  right: 10px;
}

.searchWidgetInputGroupLc {
  width: 100%;
}

.searchResults {
  width: 100%;

  li {
    color: darken($gray-base, 0.2);
    &:focus, &:hover {
      color: $gray-base;
      background-color: rgba($brand-primary, 0.05);
    }
    overflow: hidden;

    a {
      padding: 4px;
      overflow: hidden;
    }
  }
}

.searchResultsVisible {
  display: block;
}

.containerTopbar {
  @media (max-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.buttonsTopbar {
  @media (max-width: 768px) {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.navbar-hamburger {
  @media (max-width: 768px) {
    float: left;
    line-height: 43px;
    width: 43px;
    padding: 0;
  }
}

.navbar-button-text {
  padding-left: 0.5em;
}

.nav > li > div {
  position: relative;
  display: block;
  padding: 10px 15px;
  &:hover, &:focus {
    text-decoration: none;
    background-color: #e6e6e6;
  }
}

.nav > li.disabled > div {
  color: #999999;
  &:hover, &:focus {
    color: #999999;
    text-decoration: none;
    background-color: transparent;
    cursor: not-allowed;
  }
}

.navbar-nav > li > div {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 21px;
}

.navbar-nav > li {
  &:hover, &:focus {
    background: none;
  }
  @media (max-width: 768px) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.navbar-default .navbar-nav > li > div {
  color: #ffffff;
  :hover, :focus {
    color: #ffffff;
    background-color: #090909;
  }
}

.navbar-default .navbar-nav > .active > div,
.navbar-default .navbar-nav > .active > div:hover,
.navbar-default .navbar-nav > .active > div:focus {
  color: #ffffff;
  background-color: #090909;
}

.navbar-default .navbar-nav > .disabled > div,
.navbar-default .navbar-nav > .disabled > div:hover,
.navbar-default .navbar-nav > .disabled > div:focus {
  color: #cccccc;
  background-color: transparent;
}

@media (min-width: 768px) {
  .navbar-nav > li > div {
    padding-top: 14.5px;
    padding-bottom: 14.5px;
  }
}

.navItemTitle {
  @media (min-width: 768px) {
    display: none;
  }
  margin-left: 2em;
}

.fullWidth {
  width: 100%;
}

.pagination>li>a, .pagination>li>span {
  min-width: 42px;
  padding: 10px 14px;
}

#fileListEdit, #fileListEditColumn, #fileListContainer {
  height: 100%;
}

#fileListContainer {
  padding: 20px;
}

.editThumbnail {
  margin-right: 1em;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.5);
}

.editAddon {
  width: 5em;
}

.editInputGroup {
  width: 100%;
}

.editButtons {
  margin-top: 1em;
}

#locationChooser {
  height: 450px;
  display: none;
}

#latLonRow {
  position: relative;
}

#latLonRowInput {
  float: left;
  width: calc(100% - 40px);
}

.latLonRowInputInput {
  float: left;
  width: 50%;
  display: table;
}

#latLonRowButton {
  float: left;
  width: 40px;
  position: absolute;
  right: 0;
  height: 100%;
  padding-left: 12px;
  padding-top: 12px;
}

.clearBoth {
  clear: both;
}

.dropdown-menu {
  @media (max-width: 768px) {
    position: relative !important;
    float: none !important;
  }
  padding: 10px;
}

.dropdown-buttons {
  margin-top: 0.5em;
  white-space: nowrap;
}

.filterIsActive {
  color: #afa;
}

.dateInput {
  width: 100%;
  padding-left: 1em;
}

::-webkit-inner-spin-button {
  display: none;
}

::-webkit-calendar-picker-indicator {
  padding-top: 15px;
  padding-bottom: 15px;
}

.folder {
  list-style: none;
  padding-left: 1em;
}

.folderName {
  display: inline-block;
  height: 2.75em;
  line-height: 2.75em;
  width: 100%;
  white-space: nowrap;

  &:hover, &:focus {
    background-color: rgba($brand-primary, 0.05);
  }

  a {
    font-size: 1.5em;
    display: inline-block;
    width: 1.5em;
    text-align: center;
    border-right: 1px solid #eee;
    text-decoration: none;

    &:hover {
      background-color: rgba($brand-primary, 0.07);
    }
  }

  label {
    margin-left: 1em;
  }
}

#loginContainer {
  display: table;
  height: 100%;
  width: 100%;

  #loginContainerChild {
    display: table-cell;
    vertical-align: middle;

    #loginContainerChildChild {
      margin: auto;
      max-width: 350px;

      div {
        margin-top: 1em;
        margin-bottom: 1em;
        input {
          width: 100%;
          padding: 0.5em;
          font-size: 1.2em;
        }
      }
    }
  }
}