@import "variables";
@import "bootstrap";
@import "font-awesome";

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#container-map {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
}

#map, #app {
    width: auto;
    height: 100%;
}

body {
    padding-top: 70px;
    background-image: url(/images/background.jpg);
}

.body-map {
    padding-top: 50px;
}

.login-form {
    margin-left: auto;
    margin-right: auto;
    max-width: 330px;
}

.image_count {
    background: rgba(102, 153, 187, 0.7);
    border: 3px solid rgba(255, 255, 255, 0.1);
    color: #fff;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    transition: all .1s ease-in-out;
}

.image_count:hover {
    background: rgba(112, 163, 197, 0.9);
}

.image_count_child {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: block;
}

.large_modal {
    margin: 25px;
    margin-top: 75px;
    width: auto;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
}

.thumbnail {
    display: inline-block;
    margin: 5px;
}

.modal, .modal-intermediate, .modal-content {
    height: 100%;
}

.modal-control {
    background: rgba(20,20,20,0.7);
    color: #eee;
    height: 50px;
    top: 0; left: 0; right: 0;
    width: 100%;
    position: fixed;
    line-height: 50px;
}

.modal-control-btn {
    cursor: hand;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.modal-control-btn:hover {
    color: #fff;
    background-color: rgba(255,255,255,0.03);
}

.modal-control-btn-left {
    float: left;
}
.modal-control-btn-right {
    float: right;
}

.modal-body {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}